.App {
  display: flex;
  flex-wrap: wrap;
  background-color: azure;
  text-align: center;
}

.App-container {
  display: flex;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 2
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #09d3ac;
} */

.Side {
  width: 50vw;
  height: 100vh;
  flex-basis: 1;
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw 960px;
 
}
.Form {
  width: 50vw;
  /* height: 40vh; */
  /* flex-basis: 2; */
  
}

.Weather {
  width: 50vw;
  /* height: 60vh; */
  /* flex-basis: 3; */
}